body
{
	font-family:Asias;
}
.col-sm-3
{
	margin:0;
	padding:0;
}
a,a:hover
{
	text-decoration:none;
}
#div-cont
{
	padding-left:1.6%;
	padding-right:1.6%;
}
#div-header
{
	padding-top:18px;
	padding-bottom:2px;
	min-width:1050px;
}
.button-header
{
	font-size:13px;
	color:white;
	border:solid 1px rgb(34,34,34);
	background-color:rgb(34,34,34);
	padding:5px;
}
.button-header:hover
{
	border:solid 3px rgb(219,219,219);
}
#ul-header
{
	text-decoration:none;
	display:inline;
}
#ul-header li
{
	display:inline;
	margin-left:4.5%;
}
.ul-header-a
{
	color:rgb(91,91,91);
	font-size:13px;
}
.img-header
{
	padding-right:5px;
}
.a-header
{
	float:right;
	font-size:12px;
	padding-left:3.5%;
	color:rgb(48,48,48);
	padding-top:5px;
}
.header-log
{
	color:rgb(246,130,54);	
}
#a-search
{
	float:right;
	border:solid 1px rgb(96,96,96);
	padding:4px;
	padding-left:8px;
	padding-right:7px;
	background-color:rgb(96,96,96);	
}
.header-search
{
	float:right;
	margin-left:3.5%;
	width:145px;
	padding:6px;
	padding-left:10px;
	font-size:12px;
	font-family:cursive;
	color:rgb(91,91,91);
}
#img-search
{
	width:85%;
}
#button-header-sousuo
{
	margin-left:3.5%;
	padding-left:5px;
	border:solid 1px rgb(149,149,149);
	background-color:white;
}
#button-header-sousuo:hover
{
	border:solid 3px rgb(219,219,219);
}	
.img-header-3
{
	padding:0;
	width:13px;
}
#div-basket
{
	margin-right:1.6%;
	right:58px;
	top:51px;
	width:384px;
	position:absolute;
	padding:15px;
	border:solid 1px rgb(229,229,229);
	z-index:1;
	background-color:white;
	display:none;
}
.basket-floral
{
	padding-left:8px;
	padding-right:80px;
	font-family:sans-serif;
	font-size:12px;
}
.basket-price
{
	font-size:14px;
	color:rgb(91,91,91);
	padding-right:30px;
}
.basket-sbtotal
{
	padding:0;	
}
.basket-sbtotalprice
{
	color:rgb(246,130,54);	
}
#basket-checkout
{
	padding:7px;
	padding-left:13px;
	padding-right:13px;
	border:solid 1px rgb(246,130,54);
	color:white;
	background-color:rgb(246,130,54);
	margin-left:106px;
}
.hr-basket
{
	margin-top:18px;
	margin-bottom:18px;
}
#div-coats
{
	padding-bottom:85px;
}
#xiegang
{
	margin-left:8px;
	margin-right:8px;
}
.text-home
{
	font-size:13px;
	font-weight:200;
	color:rgb(148,148,148);
	padding-bottom:45px;
}
#div-fenlei
{
	padding-left:25%;
	padding-right:25%;
	text-align:center;
	padding-top:35px;
}
.div-fenleispan
{
	height:25px;
	border:solid 0px rgb(48,48,48);
	border-bottom-width:2px;
	padding:0px;
}
.text-fenlei
{
	float:left;
	color:rgb(96,96,96);
	font-style:italic;
	font-size:16px;
}
.img-fenlei
{
	float:right;
	padding-top:7px;;
}
.div-fenleiul
{
	text-align:left;
	padding:0;
}
.ul-fenlei
{
	list-style:none;
	padding:0;
}
.ul-fenlei li
{
	padding-top:11px;
}
.a-fenlei
{	
	color:rgb(96,96,96);
	font-style:italic;
	font-size:16px;	
}
.title-coats
{
	text-align:center;
	font-size:36px;
	font-family:sans-serif;
	font-weight:500;
	margin:0;
}
.text-all
{
	font-size:20px;
	font-style:italic;
	text-align:center;
	color:rgb(96,96,96);
}
.double-coats
{
	margin:0;
	font-family:sans-serif;
	font-size:15px;
	font-weight:500;
	color:rgb(48,48,48);
}
.price-coats
{
	font-size:16px;
	font-family:serif;
	font-weight:200;
	color:rgb(124,124,124);
}
.div-coats-kid
{
	padding:0;	
	margin-right:11.1%;
	text-align:center;
	padding-top:45px;
}
#div-coats-kid-teshu
{
	padding:0;	
	margin-right:0;
	text-align:center;
	padding-top:45px;
}
.div-coats-kongbai
{
	border:solid 1px rgb(229,229,229);
	height:240px;
	min-width:120px;
	margin-bottom:23px;
}
#teshu-kongbai
{
	margin-right:0;
}
#div-page
{
	text-align:center;
	padding-bottom:50px;
}	
#ul-page,#ul-page li
{
	list-style:none;
	display:inline;
}
#ul-page li
{
	padding:6px;
}
.button-page
{
	border:solid 1px transparent;
	padding:5px;
	padding-left:8px;
	padding-right:8px;
	background-color:rgb(48,48,48);
	color:rgb(224,224,224);
	font-size:12px;
}
.button-page:hover
{
	color:rgb(224,224,224);
}
.button-page-xuanzhong,.button-page-xuanzhong:hover
{
	color:rgb(96,96,96);
	background-color:white;
	border:solid 1px rgb(96,96,96);
}
hr
{
	border:solid 1px rgb(229,229,229);
	margin-top:25px;
}
.hr-check
{
	margin-top:0;
}
#text-check
{
	text-align:center;
	padding:18px;
	font-style:italic;
	font-family:serif;
	font-size:21px;
	color:rgb(96,96,96);
}
.div-zhanshi
{
	padding-bottom:55px;
}
.img-zhanshi
{
	height:100px;
	padding:0;
}
#div-zhanshi1
{
	background-image:url("images/zhanshi1.png");
	background-size:cover;
}
#div-zhanshi2
{
	background-image:url("images/zhanshi2.png");
	background-size:cover;
}
#div-zhanshi3
{
	background-image:url("images/zhanshi3.png");
	background-size:cover;
}
#div-zhanshi4
{
	background-image:url("images/zhanshi4.png");
	background-size:cover;
}
#div-zhanshi5
{
	background-image:url("images/zhanshi5.png");
	background-size:cover;
}
#div-zhanshi6
{
	background-image:url("images/zhanshi6.png");
	background-size:cover;
}
.button-zhanshi-left
{
	font-size:20px;
	color:white;
	background-color:rgb(200,200,200);
	padding:7px;
	padding-top:35px;
	padding-bottom:35px;
	padding-right:10px;
	float:left;
	opacity:0.8;
	text-align:center;
}
.button-zhanshi-right
{
	font-size:20px;
	color:white;
	background-color:rgb(200,200,200);
	padding:7px;
	padding-top:35px;
	padding-bottom:35px;
	padding-left:10px;
	float:right;
	opacity:0.8;
}
.jiantou-zhanshi
{
	width:65%;
}
.title-bottom
{
	font-size:14px;
	color:rgb(48,48,48);
}
.ul-jiewei
{
	text-decoration:none;
	list-style:none;
	padding:0;
	font-size:13px;
}
.a-jiewei,.a-jiewei:hover
{
	color:rgb(108,108,108);
}
.a-jiewei:hover
{
	text-decoration:underline;
}
.img-jiewei
{
	border:solid 1px rgb(96,96,96);
	padding:7px;
	margin-right:13px;
}
.img-jiewei:hover
{
	border:solid 3px rgb(219,219,219);
}
#img-jiewei-fb
{
	padding-left:11px;
	padding-right:11px;
}
